.form-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgb(192,192,192);
  background: linear-gradient(0deg, var(--bkgd-gradient-silver) 0%, var(--bkgd-gradient-dark-blue) 35%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 4px, transparent 4px, transparent 12px);
  background-size: 4px 4px;
  /* the two above create the background texture */
  background-color: #9AD1D4;
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 25% 10%;
}

.submit-wrap {
  display: flex;
}

.portal {
  display: grid;
  align-items: center;
  justify-items: center;
}

.form-link, .link-text{
  grid-column: 1;
  grid-row: 1;
}

.link-text {
  color: white;
  z-index: 1;
  margin: 0px;
}

.form-link {
  display: flex;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--bkgd-gradient-dark-blue);
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.form-link:hover {
  filter: blur(.5rem);
}

.form-title {
  color: #2A9134;
  font-size: 4rem;
  margin-bottom: 0px;
}

.form-select {
  padding: 10%;
}

.form-text {
  width: 90%;
  color: #003249;
  font-size: 1.75rem;
}

a {
  color: green;
  font-weight: bold;
  cursor: pointer;
}

ul {
  list-style: none;
  background-color: white;
  padding: 5%;
  border-radius: 15px;
}

li {
  font-size: 1.6rem;
}

.list-love {
  color: #D86E8E;
}

.list-time {
  color: goldenrod;
}

.list-body {
  color: #9BC4FD;
  font-family: 'Roboto Mono', monospace;
}

.list-spooky {
  color: red;
  font-family: 'Courier New', Courier, monospace;
}

.list-nature {
  color: rgba(97,139,74,1);
  font-family: 'Instrument Serif', serif;
}

/* LOADING SPINNER */

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .form-title{
    font-size: 3rem;
  }

  .form-text {
    width: 90%;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  
  .form-text {
    width: 95%;
    font-size: 1.5rem;
    margin: 12px;
  }

  .form-container{
    width: 80%
  }
}

@media screen and (max-width: 600px) {
  .form-container{
    border-radius: 0%;
    height: 90%;
  }
  
  ul {
    padding: 10px;
  }

  .form-title {
    margin: auto;
  }

  .form-text {
    width: 98%;
    font-size: 1.25rem;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .form-container{
    border-radius: 0%;
    height: 100%;
  }

  .form-select{
    padding:0%;
  }

  .form-link {
    padding: 1px;
    width: 50px;
    height: 50px;
  }
}
