.form-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgb(192,192,192);
  background: linear-gradient(0deg, rgba(192,192,192,1) 0%, rgba(37,51,71,1) 35%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-link {
  padding: 20px;
  border-radius: 30px;
  background-color: blanchedalmond;
  color: black;
  width: 50px;
  margin: 30px;
}

.form-title{
  color: white;
  font-size: 2.5rem;
}

.form-select{
  padding: 20px;
}

.form-text{
  width: 50%;
  color: white;
  font-size: 2rem;
}

a {
  color: blanchedalmond;
  cursor: pointer;
}

ul{
  list-style: none;
}

li {
  font-size: 1.5rem;
}

.list-love{
  color: #D86E8E
}
.list-time{
  color: goldenrod;
}
.list-body{
  color: #9BC4FD;
}
.list-spooky{
  color: red;
  font-family: 'Courier New', Courier, monospace;
}
.list-nature{
  color: rgba(97,139,74,1)
}
