.form-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgb(192,192,192);
  background: linear-gradient(0deg, var(--bkgd-gradient-silver) 0%, var(--bkgd-gradient-dark-blue) 35%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 4px, transparent 4px, transparent 12px);
  background-size: 4px 4px;
  /* the two above create the background texture */
  background-color: #9AD1D4;
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 25% 10%;
}

.submit-wrap {
  display: flex;
}

.portal {
  display: grid;
  align-items: center;
  justify-items: center;
}

.form-link, .link-text{
  grid-column: 1;
  grid-row: 1;
}

.link-text {
  color: white;
  z-index: 1;
}

.form-link {
  display: flex;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--bkgd-gradient-dark-blue);
  width: 50px;
  height: 50px;
}

.form-link:hover {
  filter: blur(1rem);
}

.form-title {
  color: #2A9134;
  font-size: 4rem;
  margin-bottom: 0px;
}

.form-select {
  padding: 10%;
}

.form-text {
  width: 90%;
  color: #003249;
  font-size: 1.75rem;
}

a {
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  background-color: white;
  padding: 5%;
  border-radius: 15px;
}

li {
  font-size: 1.6rem;
}

.list-love {
  color: #D86E8E;
}

.list-time {
  color: goldenrod;
}

.list-body {
  color: #9BC4FD;
  font-family: 'Roboto Mono', monospace;
}

.list-spooky {
  color: red;
  font-family: 'Courier New', Courier, monospace;
}

.list-nature {
  color: rgba(97,139,74,1);
  font-family: 'Instrument Serif', serif;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .form-title{
    font-size: 3rem;
  }

  .form-text {
    width: 90%;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 900px) {
  
  .form-text {
    width: 95%;
    font-size: 1.5rem;
    margin: 12px;
  }

  .form-container{
    width: 80%
  }
}

@media screen and (max-width: 600px) {
  .form-container{
    border-radius: 0%;
    height: 90%;
  }
  
  ul {
    padding: 10px;
  }

  .form-title {
    margin: auto;
  }

  .form-text {
    width: 98%;
    font-size: 1.25rem;
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .form-container{
    border-radius: 0%;
    height: 100%;
  }

  .form-select{
    padding:0%;
  }

  .form-link {
    padding: 1px;
    width: 50px;
    height: 50px;
  }
}
