

a:hover {
  color: gold;
}
a:link{
  text-decoration: none;
}


.App {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 40em) {
  * {
    overflow-x: scroll;
  }
}

