.main {
  width: 100vw;
  height: 100vh;
  background: rgb(192,192,192);
background: linear-gradient(0deg, rgba(192,192,192,1) 0%, rgba(37,51,71,1) 35%);
  position: relative;
}

.port-key {
  width: 35px;
}

.arch-img {
  margin-top: 35px;
  clip-path: ellipse(60% 64% at 50% 64%);
}

 .desc {
  margin: 20px;
  margin-top: 400px;
  width: 350px;
  font-size: 1.35rem;
 }

 .title {
  margin: 20px;
  margin-top: 300px;
  font-family: 'Castoro Titling', cursive;
  font-size: 4rem;
 }

 .welcome {
  margin: 20px;
  margin-top: 200px;
 }

 .arch-link {
  margin: 20px;
  margin-top: 550px;
  font-size: 2rem;
 }

 .welcome, .title, .desc, .arch-link {
  position: absolute;
  color: white;
  z-index: 1;
  left: 48%;
  transform: translateX(-50%);
 }