.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, var(--bkgd-gradient-silver) 0%, var(--bkgd-gradient-dark-blue) 35%);
}

.port-key {
  width: 35px;
}

 .desc {
  margin: 20px;
  margin-top: 30vh;
  width: 25%;
  font-size: 2rem;
 }

 .direction {
  margin: 10px;
  margin-top: 55vh;
  width: 30%;
  font-size: 2rem;
  color: #2A9134;
 }

 .title {
  margin: 20px;
  margin-top: 11vh;
  font-family: cursive;
  letter-spacing: .75rem;
  font-size: 6rem;
  position: absolute;
  color: #2A9134;
 }

 .welcome {
  margin: 20px;
  margin-top: 5vh;
 }

 .arch-link {
  margin-top: 550px;
  font-size: 2rem;
 }

 .trapdoor{
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
 }

 .trapdoor:hover{
  box-shadow: 0 5px 15px whitesmoke;
 }

 .welcome, .desc, .arch-link {
  position: absolute;
  color: #9AD1D4;
  z-index: 1;
 }

 .txt-background {
  display: flex;
  height: 100vh;
  justify-content: center;
 }

@media screen and (max-width: 912px) {
  .desc {
    width: 80%
  }
}
