.main {
  width: 100vw;
  height: 100vh;
  background: rgb(192,192,192);
  background: linear-gradient(0deg, rgba(192,192,192,1) 0%, var(--bkgd-gradient-dark-blue) 35%);
  position: relative;
}

.port-key {
  width: 35px;
}

.arch-img {
  margin-top: 35px;
  clip-path: ellipse(60% 64% at 50% 64%);
}

 .desc {
  margin: 20px;
  margin-top: 30vh;
  width: 350px;
  font-size: 1.35rem;
 }

 .direction {
  margin: 20px;
  margin-top: 55vh;
  width: 350px;
  font-size: 1.35rem;
  color: white;
 }

 .title {
  margin: 20px;
  margin-top: 11vh;
  font-family: 'Castoro Titling', cursive;
  font-size: 6rem;
 }

 .welcome {
  margin: 20px;
  margin-top: 5vh;
 }

 .arch-link {
  margin-top: 550px;
  font-size: 2rem;
 }

 .trapdoor{
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
 }

 .trapdoor:hover{
  color: whitesmoke;
  box-shadow: 0 5px 15px whitesmoke;
 }

 .welcome, .title, .desc, .arch-link {
  position: absolute;
  color: white;
  z-index: 1;
 }

 .txt-background {
  display: flex;
  height: 100vh;
  justify-content: center;
 }
