.time {
  background-color: goldenrod;
}

.love {
  background-color: pink;
}

.body{
  background-color: aqua;
}

.nature {
  background-color: green;
}

.spooky {
  background-color: black;
  color: red;
}